@model Examen2.Models.Priority

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Priority</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPriority" />
            <div class="form-group">
                <label asp-for="PriorityDescription" class="control-label"></label>
                <input asp-for="PriorityDescription" class="form-control" />
                <span asp-validation-for="PriorityDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="Guardar" class="btn btn-outline-primary" />
                <a asp-action="Index" class="btn btn-outline-success"><i class="fas fa-arrow-circle-left"></i> Regresar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
