@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE HTML>
<html>
<head>
    <title> MI PRIMER TITULO </title>
</head>

<body>
    <style>
        h4 {
            font-family: 'Times New Roman';
            font-size: 20px;
            width: auto;
            height: auto;
            color: white;
            background-color: gray;
            border-style: solid;
            border-color: #f50c0c;
            border-width: 2px;
            border-radius: 2px;
        }
    </style>
    <h4>Day/Date</h4>
    <div>
        <style>
            content1 {
                font-family: 'Times New Roman';
                font-size: 20px;
                width: 50%;
                height: 580px;
                color: white;
                background-color: gray;
                border-style: solid;
                border-color: #f50c0c;
                border-width: 2px;
                border-radius: 2px;
                float: left;
            }
        </style>

        <content1>
            caja1
        </content1>

        <style>
            content2 {
                font-family: 'Times New Roman';
                font-size: 20px;
                width: 49%;
                height: 190px;
                color: white;
                background-color: gray;
                border-style: solid;
                border-color: #f50c0c;
                border-width: 2px;
                border-radius: 2px;
                float: left;
                margin-left: 10px;
            }
        </style>

        <content2>
            caja2
        </content2>

        <style>
            content3 {
                font-family: 'Times New Roman';
                font-size: 20px;
                width: 49%;
                height: 190px;
                color: white;
                background-color: gray;
                border-style: solid;
                border-color: #f50c0c;
                border-width: 2px;
                border-radius: 2px;
                float: left;
                margin-left: 10px;
                margin-top: 5px;
            }
        </style>

        <content3>
            caja2
        </content3>

        <style>
            content4 {
                font-family: 'Times New Roman';
                font-size: 20px;
                width: 49%;
                height: 190px;
                color: white;
                background-color: gray;
                border-style: solid;
                border-color: #f50c0c;
                border-width: 2px;
                border-radius: 2px;
                float: left;
                margin-left: 10px;
                margin-top: 5px;
            }
        </style>

        <content4>
            caja2
        </content4>

    </div>

</body>

</html>

